@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: auto;
}

/* UKLONI SVE EFEKTE */
*, *::before, *::after {
  backdrop-filter: none !important;
  filter: none !important;
  transform: none !important;
  will-change: auto !important;
  -webkit-backdrop-filter: none !important;
  -webkit-filter: none !important;
  -webkit-transform: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.dark ::-webkit-scrollbar-track {
  background: #333;
}

.dark ::-webkit-scrollbar-thumb {
  background: #666;
}